* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

body {
    background: #4AC7C7;
}

/* header */

header {
    text-align: center;
    margin: 30px;
}

/* footer */

footer {
    text-align: center;
    font-size: 8px;
    margin: 30px;
}

/* quiz area */

.window {
    background: white;
    width: 75%;
    max-width: 600px;
    margin: auto;
    border-radius: 15px;
    padding: 20px;
}

.window h1 {
    font-size: 20px;
    border-bottom: 2px solid #4AC7C7;
    padding-bottom: 5px;
}

.quiz {
    padding: 10px;
}

.quiz h2 {
    font-size: 18px;
}

/* buttons */

.buttons {
    background: white;
    text-align: left;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    border: 1px solid #4AC7C7;
    border-radius: 7px;
    margin: 5px;
    cursor: pointer;
}

.buttons:hover {
    background: grey;
    color: white;
}

#next-button {
    background: #4AC7C7;
    font-size: 18px;
    width: 100px;
    padding: 10px 15px;
    margin: 10px auto 0;
    border-radius: 7px;
    cursor: pointer;
    display: none;
}

/* style buttons for click event */

.correct {
    background: green;
}

.incorrect {
    background: red;
}